<template>
  <div>
<!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">라이더 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">라이더 상세 관리</h2>
      </div>
    </div>
<!--라이더 정보 박스 1-->
    <div class="w-full mt-2 border-solid border-y border-[#212121]" v-if="riders" >
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9" >
        <div class="ml-3 text-[15px]">라이더 No.{{ riders.id }}</div>
      </div>
      <div class="text-[15px]">
        <div class="ml-3 my-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 stroke-[#ffffff] bg-[#eeeeee] rounded-full">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
        </div>
        <div class="w-full">
<!--        <div class="divide-y divide-gray-200 dark:divide-gray-700">-->
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">이름</div>
              <div class="font-bold ">{{ riders.name }}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">가입일</div>
              <div class="font-bold">{{riders.dateJoin}}</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">아이디</div>
              <div class="font-bold ">{{riders.email}}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">주민번호</div>
              <div class="font-bold">{{riders.idNum}}</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">기종 구분</div>
              <div class="font-bold ">{{riders.phoneType}}</div>
            </div>
<!--            <div class="flex w-1/2">-->
<!--              <div class="w-[1.938] mr-2 text-[#5e5e5e]">비밀번호</div>-->
<!--              <div class="font-bold ">{{tableData.password}}</div>-->
<!--            </div>-->
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">휴대전화 번호</div>
              <div class="font-bold ">{{riders.phoneNumber}}</div>
            </div>

          </div>
          <hr>
<!--          <div class="flex m-2.5">-->
<!--            <div class="flex w-1/2">-->
<!--              <div class="w-[1.938] mr-2 text-[#5e5e5e]">기종 구분</div>-->
<!--              <div class="font-bold ">{{tableData.phoneType}}</div>-->
<!--            </div>-->
<!--            <div class="flex w-1/2">-->
<!--              <div class="w-[2.75] mr-2 text-[#5e5e5e]">개인정보 약관 동의 여부</div>-->
<!--              <div class="font-bold">{{tableData.phoneType}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <hr>-->
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">법적 보호자 동의서</div>
              <div class="underline text-[#0053ff]">{{riders.confirmParents}}</div>
            </div>

<!--            <div class="flex w-1/2">-->
<!--              <div class="w-[2.75] mr-2 text-[#5e5e5e]">위치기반 약관 동의 여부</div>-->
<!--              <div class="font-bold">O</div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!--라이더 계좌정보 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">계좌 정보</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">은행명</div>
              <div class="font-bold ">{{riders.bankName}}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">예금주명</div>
              <div class="font-bold">{{riders.bankOwner}}</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">계좌번호</div>
              <div class="font-bold">{{riders.bankNumber}}</div>
            </div>
            <div class="flex w-1/2" v-if="riders.riderPay">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">예치금</div>
              <div class="font-bold">{{riders.riderPay.payNow}}원</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--라이더 배달 정보 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">배달 정보</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">배달지역</div>
              <div class="font-bold ">{{riders.addressWish}}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">배달수단</div>
              <div class="font-bold">{{riders.driveType}}</div>
            </div>
          </div>
            <hr>
            <div class="flex m-2.5">
            <div class="flex w-1/2">
                <div class="w-[2.75] mr-2 text-[#5e5e5e]">번호판</div>
                <div class="font-bold">{{riders.driveNumber}}</div>
            </div>
                </div>
        </div>
      </div>
    </div>
    <!--라이더 활동 상태 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">활동 상태</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">정지상태</div>
              <div class="font-bold ">{{riders.isBan}}</div>
            </div>
<!--            todo: 정지 날짜 확인-->
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">정지일</div>
              <div class="font-bold">{{riders.dateBan}}</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">정지사유</div>
              <div class="font-bold">{{riders.reasonBan}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-5">
      <button @click="pushReturnPage" class="transition delay-150 w-[100px] h-[40px] bg-[#1A1A1A] text-[14px] text-center text-[#FFFFFF] font-bold rounded hover:bg-[#3D3D3D] hover:drop-shadow-lg duration-300">
        확인
      </button>
    </div>
  </div>
</template>
<script setup >

import {ref} from "vue";
import {storeToRefs} from "pinia";
import {useRiderStore} from "~/stores/rider";

definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})


const rider = useRiderStore();
const {getRiderDetail} = rider;
const {riders} = storeToRefs(rider);
// console.log(tableData)

await getRiderDetail('${id}').then(() => {
  // console.log(tableData.value)
}).catch(() =>{
  console.log("실패")
});

const router = useRouter();
// const id = ref('');

const pushReturnPage = () => {
  router.push("/rider")
}

// const {params:id} = useRoute();
// console.log(id)
</script>
