<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">공지사항 리스트</h2>
      </div>
      <div class="w-2/4"></div>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 공지를 입력해주세요."
                :suffix-icon="Search"
      />
    </div>
    <div class="table-temp">
      <TwDatatableClient
        class="!dark:text-gray-200"
        :column="data.column"
        :data="boards"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id }}
          </template>
          <template v-if="column.field === 'dateCreate'">
            {{ data.dateCreate }}
          </template>
          <template v-if="column.field === 'title'">
            {{ data.title }}
          </template>
          <template v-if="column.field === 'text'">
            {{ data.text }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary"
                        class="border-solid border-[#ededed] border h-[30px] mr-0.5 leading-4 py-1 text-[#1a1a1a] bg-white"
                        @click="detail(data.id)">
                상세보기
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>
    <div class="w-full flex justify-between mt-2">
      <div class="w-[100px]"></div>
      <div class="w-full flex justify-center">
        <el-pagination layout="prev, pager, next" :total=totalPage*10 @current-change="setPage"/>
      </div>
      <div class="mr-3">
        <TwButton variant="primary" class="bg-[#1a1a1a] h-[30px] py-1 mr-2 relative w-[100px] text-center"
                  @click="setNotice()">
          공지 등록
        </TwButton>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {TwDatatableClient, TwButton} from "vue3-tailwind";
import {ref} from "vue";
import {Search} from "@element-plus/icons-vue";
import {storeToRefs} from "pinia";
import {useNoticeStore} from "~/stores/board";


definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const store = useNoticeStore();
const {fetchNoticeList, fetchNotice} = store;
const {boards, currentPage, totalPage, totalCount} = storeToRefs(store);
const value = ref('')
const search = ref('')
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "80px",
      sortable: true,
    },
    {
      label: "작성일시",
      field: "dateCreate",
      width: "250px",
      sortable: true,
    },
    {
      label: "게시글 제목",
      field: "title",
      width: "300px",
      sortable: false,
    },
    {
      label: "게시글 내용",
      field: "text",
      width: "300px",
      sortable: false,
    },
    {
      label: "Action",
      field: "action",
      width: "120px",
      sortable: false,
    },
  ],
  // limit: 10,
  // search: "",
  // sortBy: "status",
  // sortType: "asc",
});


const datatableHook = (arg: any) => {
  arg();
};


// onMounted(() => {
//   fetch("http://matddak.shop:8080/v1/board/all")
//     .then((res) => res.json())
//     .then((json) => {
//       data.value.data = json.list;
//       console.log(data)
//     });
// });

// 리스트 가져오기
await fetchNoticeList(1).then(() => {
}).catch(() => {
});

const setPage = (pageNum: number) => {
  fetchNoticeList(pageNum)
}

// 상세 보기

const router = useRouter();

const detail = (id: string) => {
  router.push(`/notice/${id}`);
};


const setNotice = () => {
  router.push(`/notice/general`)
}


</script>
