<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">입출금 내역 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">라이더 입출금 리스트</h2>
      </div>
      <div class="w-2/4"></div>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 내용을 입력해주세요."
                :suffix-icon="Search"
      />
    </div>
    <div class="table-temp">
      <TwDatatableClient
          class="!dark:text-gray-200"
          :column="data.column"
          :data="moneys"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id }}
          </template>
          <template v-if="column.field === 'storeName'">
            {{ data.storeName }}
          </template>
          <template v-if="column.field === 'addressStoreDo'">
            {{ data.addressStoreDo }}
          </template>
          <template v-if="column.field === 'addressStoreG'">
            {{ data.addressStoreG }}
          </template>
          <template v-if="column.field === 'storeNumber'">
            {{ data.storeNumber }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border-solid border-[#ededed] border h-[30px] mr-0.5 leading-4 py-1 text-[#1a1a1a] bg-white " @click="getDetail(data.id)">
                상세보기
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>
  </div>
</template>

<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { ref } from "vue";
import {Search} from "@element-plus/icons-vue";
import {storeToRefs} from "pinia";
import {useMoneyHistory} from "~/stores/moneyHistory";

const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]

const store = useMoneyHistory();
const {fetchMoneyHistory} = store;
const {moneys} = storeToRefs(store);
const value = ref('')
const search = ref('')
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "80px",
      sortable: true,
    },
    {
      label: "입출금 날짜",
      field: "dateMoneyRenewal",
      width: "200px",
      sortable: true,
    },
    {
      label: "라이더명",
      field: "riderName",
      width: "150px",
      sortable: true,
    },
    {
      label: "입출금 타입",
      field: "moneyType",
      width: "150px",
      sortable: true,
    },
    {
      label: "입출금 금액",
      field: "moneyAmount",
      width: "200px",
      sortable: false,
    },
    {
      label: "Action",
      field: "action",
      width: "120px",
      sortable: false,
    },
  ],
});

const datatableHook = (arg: any) => {
  arg();
};

// 리스트 가져오기
await fetchMoneyHistory().then(() => {
  console.log(data)
}).catch(() =>{
});

console.log(data);

//클릭해서 상세보기 들어가기.
const router = useRouter();
const getDetail = (id:number) => {
  router.push(`/money-history/detail/${id}`);
}

</script>
