<template>
  <div>
<!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">입출금 관리 내역</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">입출금 상세 내역</h2>
      </div>
    </div>
<!--가게 정보 박스 1-->
    <div class="w-full mt-2 border-solid border-y border-[#212121]" v-if="money">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">입출금 상세 내역 No. {{ money.id }}</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <!--        <div class="divide-y divide-gray-200 dark:divide-gray-700">-->
          <div class="flex leading-10">
            <div class="flex w-full ">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">입출금일</div>
              <div class="">{{ money.dateMoneyRenewal }}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">라이더 명</div>
              <div class="">{{money.riderName}}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">입출금 타입</div>
              <div class="">{{ money.moneyType }}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">금액</div>
              <div class="">{{ money.moneyAmount }}</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">메모</div>
              <div class="">{{money.etcMemo}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-5">
      <TwButton variant="primary" class="w-[4.375rem] text-center text-[14px] bg-[#1a1a1a]" @click="pushReturnPage">
        확인
      </TwButton>
    </div>
  </div>
</template>
<script setup>
import {TwButton} from "vue3-tailwind";
import { ref } from "vue";
import {storeToRefs} from "pinia";
import {useHistoryStore} from '~/stores/history';

const history = useHistoryStore();
const {fetchHistory} = history;
const {money} = storeToRefs(history);
await fetchHistory('${id}').then(() => {
}).catch(() => {
});



const router = useRouter();
const id = ref('');

const data = ref({
  storeName:'',
  addressStoreDo:'',
  addressStoreG:'',
  storeNumber:'',
  sellTime:'',
  holiday:'',
  deliveryArea:'',
  bossName:'',
  shopId:'',
  storeX:'',
  storeY:'',
})

// const center = { lat: data.value.storeX, lng: data.value.storeY }



// onMounted(async () => {
//   id.value = router.currentRoute.value.params.id;
//   console.log(id.value);
//   try {
//     const response = await fetch(`http://matddak.shop:8080/v1/store/detail/${id.value}`);
//     const json = await response.json();
//     data.value = json.data;
//   } catch (error) {
//     console.log('', error);
//   }
// });

const pushReturnPage = () => {
  // router.push("/history")
  router.back()
}



</script>
