<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-xl font-bold text-[#212121]">대시보드</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">맛딱드림 홈</h2>
      </div>
    </div>
    <div class="grid grid-cols-9 gap-3 mt-4">
      <div class="col-span-12 sm:col-span-4 md:col-span-2 lg:col-span-6">
        <div class="p-2 rounded bg-white dark:bg-gray-800 shadow flex justify-between gap-3 h-full">
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold mb-32">가입 라이더 수</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg size-full">
                <img src="/assets/images/riderg.png" alt="그래프" class="ml-10">
<!--              {{charts.labels}}-->
<!--              {{charts.datasets}}-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div
            class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">달력</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              <span class="text-sm text-red-600"></span>
              <el-calendar v-model="value" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div
            class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">일간통계</div>
            <div class="text-[#bebebe] text-[12px]">{{ income.dateDayIncome }}</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              ₩{{ income.totalDayAdmin }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div
            class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full"
        >
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">주간통계</div>
            <div class="text-[#bebebe] text-[12px]">{{ income.dateWeekIncome }}</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              ₩{{ income.totalWeekAdmin }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full">
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">월간통계</div>
            <div class="text-[#bebebe] text-[12px]">{{ income.dateMonthIncome }}</div>
            <div class="text-gray-700 dark:text-gray-200 font-bold text-lg">
              ₩{{ income.totalMonthAdmin }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-4 md:col-span-2 lg:col-span-6">
        <div class="p-2 rounded bg-white dark:bg-gray-800 shadow flex justify-between gap-3 h-full">
          <div class="flex flex-col justify-between">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">라이더 리스트</div>
            <div class="table-temp">
              <TwDatatableClient
                  class="!dark:text-gray-200"
                  :column="data.riderItems"
                  :data="dash"
              >
                <template #row="{ column, data }">
                  <template v-if="column.field === 'id'">
                    {{ data[column.field] }}
                  </template>
                  <template v-if="column.field === 'name'">
                    {{ data.name }}
                  </template>
                  <template v-if="column.field === 'dateJoin'">
                    {{ data.dateJoin }}
                  </template>
                  <template v-if="column.field === 'phoneNumber'">
                    {{ data.phoneNumber }}
                  </template>
                  <template v-if="column.field === 'driveType'">
                    {{ data.driveType }}
                  </template>
                  <template v-if="column.field === 'addressWish'">
                    {{ data.addressWish }}
                  </template>
                </template>
              </TwDatatableClient>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3">
        <div class="p-2 rounded-lg bg-white dark:bg-gray-800 shadow flex justify-between gap-2 h-full">
          <div class="flex flex-col ">
            <div class="text-[#212121] dark:text-gray-400 font-[15px] font-bold">공지사항</div>
            <div class="table-temp">
              <TwDatatableClient
                  class="!dark:text-gray-200"
                  :column="data.boardItems"
                  :data="notice"
              >
                <template #row="{ column, data }">
                  <template v-if="column.field === 'id'">
                    {{ data[column.field] }}
                  </template>
                  <template v-if="column.field === 'dateCreate'">
                    {{ data.dateCreate }}
                  </template>
                  <template v-if="column.field === 'title'">
                    {{ data.title }}
                  </template>
                </template>
              </TwDatatableClient>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import {TwDatatableClient} from "vue3-tailwind";
import {storeToRefs} from "pinia";
import {useIndexStore} from "~/stores";




useHead({
  title: "Dashboard",
});

const value = ref(new Date())

definePageMeta({
  middleware: "auth"
})

const store = useIndexStore();
const {fetchIndex, fetchRiderIndex, fetchIncome, fetchChartIndex} = store;
const {dash, notice, income, charts} = storeToRefs(store);


const data = ref({
  boardItems: [
    {
      label: "작성일시",
      field: "dateCreate",
      width: "250px",
      sortable: true,
    },
    {
      label: "게시글 제목",
      field: "title",
      width: "300px",
      sortable: true,
    },
  ],
  riderItems: [
    {
      label: "이름",
      field: "name",
      width: "300px",
      sortable: true
    },
    {
      label: "가입 일시",
      field: "dateJoin",
      width: "300px",
      sortable: true
    },
    {
      label: "핸드폰 번호",
      field: "phoneNumber",
      width: "300px",
      sortable: true
    },
    {
      label: "운송 수단",
      field: "driveType",
      width: "300px",
      sortable: true
    },
    {
      label: "배달 희망 지역",
      field: "addressWish",
      width: "300px",
      sortable: true
    }
  ],
  // limit: 10,
  // search: "",
  // sortBy: "status",
  // sortType: "asc",
});

await fetchIndex().then(() => {
  // console.log(data)
}).catch(() => {
  // console.log(data)
});

await fetchRiderIndex().then(() => {
  // console.log(data)
}).catch(() => {
// console.log(data)
});

await fetchIncome().then(() => {

}).catch(() => {

});

await fetchChartIndex().then(() => {

}).catch(() => {

});


</script>
