<template>
  <div class="text-white flex justify-center pt-40">
    <div
      class="rounded-t-lg w-96 p-1 bg-gradient-to-b h-20"
    >
      <div
        class="header bg-white border-n p-4 rounded-t flex justify-center"
      >
        <h1 class="flex mt-16">
          <img src="/images/logo/main_logo.png" alt="메인로고" loading="lazy">
        </h1>
      </div>
      <div>
        <div class="grid grid-cols-12 gap-2 text-[14px] mt-5">
          <div class="col-span-12">
            <input
              class="dark:text-gray-200 py-2 pl-2.5 input w-full rounded-[3px] border-solid border-[1px] border-[#ededed] text-[#9e9e9e]"
              v-model="user.email"
              name="email"
              type="text"
              placeholder="아이디"
              required
            />
          </div>
          <div class="col-span-12">
            <input
              class="dark:text-gray-200 py-2 pl-2.5 input w-full rounded-[3px] border-solid border-[1px] border-[#ededed] text-[#9e9e9e]"
              v-model="user.password"
              name="password"
              type="password"
              placeholder="패스워드"
              required
            />
          </div>
          <div class="col-span-12">
            <button @click.prevent="login" class="w-full h-[38px] rounded-[3px] text-center font-bold bg-[#eb8512]">
              로그인
            </button>
          </div>
        </div>
      </div>
      <div class="w-full flex-row text-center mt-3">
        <div class="text-[14px] text-[#404040] font-bold mb-1">관리자 로그인 정보를 잊으셨나요?</div>
        <div class="text-[#5e5e5e] text-[12px]">그룹 관리자 또는 직원인 경우, 회사 내 전체권한 관리자에게 문의해 주세요.</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useAuthStore} from "~/stores/auth";

const {authenticateUser} = useAuthStore();

const {authenticated} = storeToRefs(useAuthStore());

definePageMeta({
  layout: "front",
});

useHead({
  title: "Login",
});

const user = ref({
  email:'minjunbae@example.org',
  password:'12345678',
});

const router = useRouter();

const login = async () => {
  await authenticateUser(user.value);
  console.log(user.value)
  if(authenticated) {
    router.push('/');
  }
};

</script>
